.random-btn {
  display: flex;
  align-items: center;
  background-color: var(--text);
  gap: 10px;
  text-decoration: none;
  font-family: Oswald;
  color: var(--card);
  font-weight: 500;
  font-size: 20px;
  padding: 10px 15px;
  padding-bottom: 12px;
  border-radius: 12px;
  transition: color 0.2s ease, background 0.2s ease;
}

.random-btn:hover {
  background: var(--card);
  color: var(--text); /* или var(--text-alt), если у тебя есть */
}


.random-icon {
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease;
}