.nav-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-family: Oswald;
  color: var(--text);
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px;
  padding-bottom: 12px;
  border-radius: 10px;
  transition: color 0.2s ease, background 0.2s ease;
}

.nav-btn:hover {
  background: var(--hover);
  color: var(--text);
}