.manga-action-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

/* ГЛАВНАЯ КНОПКА ЧТЕНИЯ */
.read-button {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
background: -webkit-linear-gradient(90deg, #af363b,#ffdfac);
background: linear-gradient(90deg, #af363b,#ffdfac);
  color: black;
  font-family: 'Oswald';
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.3px;

  cursor: pointer;
  transition: 0.2s ease;
}

.read-button:hover {
  opacity: 0.9;
}

.bottom-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* СЕРДЦЕ */
.favorite-button {
  width: 46px;
  height: 46px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;
  color: #555;
  transition: 0.2s ease;
}

.favorite-button.active {
  color: #ff4a4a;
  border-color: #ff4a4a60;
}

.favorite-button:hover {
  transform: scale(1.1);
}

/* В СПИСОК */
.status-button {
  flex: 1;
  padding: 12px;

  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: var(--card);
  font-family: 'Oswald';
  color: var(--text);
  font-size: 15px;
  cursor: pointer;

  transition: 0.2s ease;
}

.status-button:hover {
  background: #f5f5f5;
  color: #000;
}

/* МОДАЛКА */
.status-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.status-modal-content {
  background: var(--card);
  padding: 20px;
  width: 80%;
  max-width: 320px;

  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.status-option {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  background: var(--card);
  cursor: pointer;
  transition: 0.2s;
}

.status-option.active {
  border-color: #ff4a4a;
  background: #ff4a4a10;
  color: #ff4a4a;
}

.status-option:hover {
  background: #f5f5f5;
}

.close-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  font-size: 24px;
  line-height: 1;
  transition: 0.2s ease;
}

.close-modal:hover {
  background: rgba(255, 76, 76, 0.1);
  color: #ff4a4a;
}

/* === RESPONSIVE === */
@media (max-width: 600px) {
  .manga-action-buttons {
    flex-direction: column;
    gap: 16px;
  }

  .favorite-button {
    width: 100%;
    height: 48px;
    border-radius: 18px;
  }

  .status-button {
    width: 100%;
  }
}
